@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    mediumpurple,
    deepskyblue
  ); */
  background-color: #080808;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  text-align: left;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.navbar {
  background-color: black;
  height: 80px;
  padding-top: 15px;
  position: fixed;
  top: 0;
}
